<ion-view view-title="Sliding Tabs 2">
  <ion-content scroll="false">
    <ion-slides slider="slider" ion-slides-tabs>
      <ion-slide-page ion-slide-tab-label='<span class="ion-home"> test</a>'>
        <ng-include src="'templates/swipe1.html'"></ng-include>
      </ion-slide-page>
      <ion-slide-page ion-slide-tab-label="secondTest"><h1>Tab 2</h1></ion-slide-page>
      <ion-slide-page ion-slide-tab-label="<b>boldTest</b>"><h1>Tab 3</h1></ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>
